<p>user-component</p>

<div>
  <div class="well">
      <ul class="list-group">   

        <li class="list-group-item">
                <a [routerLink]="['/user/'+user.id]" href="" class="">
                    id: {{ user.id }} | name: {{ user.name }}
                </a>
        </li>  
        
        <li class="list-group-item">
                Created: {{ user.created| date:"dd-MM-yyyy hh:mm:ss" }} | Modified: {{ user.modified|date:"dd-MM-yyyy hh:mm:ss" }}
        </li>

      </ul>
    

      <a [routerLink]="['/edituser/'+user.id]" href="" class="btn btn-primary">
        Edit
      </a>

      <!-- <button class="btn btn-primary" (click)="onEditClick($event,user)">Edit</button> -->

      <button class="btn btn-danger" (click)="onDeleteClick(user.id)">delete</button>

      <p>
  </div>
</div>
